* {
  box-sizing: border-box;
}

.App {
  margin: 0 165px;
}

header h1 {
  font-family: 'Poppins' sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 36px;
  color: #4f4f4f;
  /* margin-left: 165px; */
}

footer {
  font-family: 'Montserrat' sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  color: #a9a9a9;
  margin: 30px 0 20px 0;
}
